html {
  background-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.DoomSetContainer {
  height: 100%;
  color: white;
  text-align: center;
  padding: 25vh 0;
}

.DoomSetStuff {
  vertical-align: center;
}

/* Control the left side */
.left {
  float:left;
  width: 75%;
  height: 70vh;
  background-color: #262743;
  color: white;
}

/* Control the right side */
.right {
  float: right;
  width: 25%;
  height: 70vh;
  background-color: black;
  color: white;
}

.bottom {
  width: 100%;
}
